*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
  header{
    position: relative;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    background-color: antiquewhite; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index:99;
} 
.logo{
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
   

}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: rgb(171, 10, 10);
    text-decoration:none;
    font-weight: 500;
    margin-left: 40px;
    


}
.navigation .btnLogin-popup{
width: 100px;
height: 50px;
background:skyblue;
border: 2px solid #fff;
border-radius: 6px;
cursor: pointer;
font-size: 1.1em;
color:black;
font-weight: 500;
margin-left: 20px;
transition: 0.5s;;

}
.navigation .btnLogin-popup:hover{
    background:white;
    color:black;

}
/* body{ */
    /* display: flex; */
    /* background-color: rgb(57, 57, 97);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

/* .wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height:520px;
} */
.form-box{
    
    width:800px;
    height:450px;
    background-color: rgb(232, 159, 63);
    margin-top: 40px;
    text-align: center;
    margin-left: 150px;

}
 .form-box h2{
    font-size: 3em;
    color:rgb(88, 82, 82);
    text-align: center;
    margin-bottom: 80px;
   
} 
/* .input-box label{
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(80, 77, 77);
    font-weight: 500;
    pointer-events: none;
}
.input-box input{
    width:100%;
    height:100%;
    background: transparent;
    border: none;
    outline:none;

}
.input-box .icon{
    position: absolute;
   
    
    font-size: 1.2em;
    color: black;
} 

/* .icon-close{
    position:absolute;
    top:18%;
    right:36%;
    width:60px;
    height:60px;
    background: rgb(198, 193, 193);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    overflow: hidden;
    border-bottom-left-radius:20px ;
    cursor: pointer;
} */


.wrapper .form-box .login{
 transition: transform .18s ease;
 transform: translateX(0);
}
.wrapper.active .form-box .login{
 transition: none;
 transform:translateX(400px);

} 